section {
    text-align: center;
    background-color:DarkGreen;
    font: 100;
    color: White;
}

.nav{
    backgound:Blue;


}

section h4 {
    text-align: right;
    color: red;
}

.card {
    background-color: darkgrey;
    color: darkred;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height:30%;
    width: 30%;
    border-radius: 50%;
    position: relative;
    float: left;
    margin: 02%;
    margin-left: 20%;
;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
}

